<!doctype html>

<html>
<head>

<title>Projects</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="main.css" />
<meta name="viewport" content="width=device-width,initial-scale=1.0">

</head>


<body>

	<div class="row">
  	<div class="jumbotron">
		<h1>Projects</h1>
		<h5 class="subtitle"><a href="https://www.kbcc.cuny.edu/facultyprofiles/markeaton.html">bio</a> / <a href="https://kingsboroughlibtech.commons.gc.cuny.edu">blog</a></h5>
	</div>
	</div>

	<div id="app" class="gridcontainer">
		<div class="flexcontainer1">
			<article v-for="project in projects1" v-bind:key="project.id" class="flexitem">
				<projects-component :project="project"></projects-component>
			</article>
		</div>
		<div class="flexcontainer2">
			<article v-for="project in projects2" v-bind:key="project.id" class="flexitem">
				<projects-component :project="project"></projects-component>
			</article>
		</div>
	</div><!-- end of app -->

<script src="https://unpkg.com/vue/dist/vue.global.prod.js"></script>
<script src="./projects.js"></script>
<script src="./main.js"></script>
</body>
</html>
