h3, h1 {
    text-align: center;
    width: inherit;
}
h3 {
    margin-top: 50px;
}
h5 {
	text-align: center;
}
img {
    border: 2px solid black;
}
.fleuron {
    text-align: center;
    font-size: 40px;
    width: inherit;
    margin: 40px 0px;
}
.row {
    text-align: center;
    display: block;
    margin:0px;
}
.container {
    position: relative;
}
.message {
    position: absolute; 
    display: none;
    z-index: 10;
}
.www, .github {
    margin: 10px;
    display: inline-block;
}
.btn {
    background-color: white;
}
@media (max-width:1200px) {
    img {
        width:80%;
    }
}
