h3, h1 {
    text-align: center;
    width: inherit;
}
h3 {
    margin-top: 50px;
}
h5 {
	text-align: center;
}
.row {
    text-align: center;
    display: block;
    margin:0px;
}

.container {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
}

img {
  object-fit: cover;
}
