h3, h1 {
    text-align: center;
    width: inherit;
}
h3 {
    margin-top: 50px;
}
h5 {
	text-align: center;
}
.row {
    text-align: center;
    display: block;
    margin:0px;
}

.container {
  display: flex;
}

.section {
  flex: 1 1 30%; /*grow*/
  border: 1px solid;
  margin: 25px;
}

@media (max-width: 768px) { /*breakpoint*/
  .container {
    flex-direction: column;
  }
}
